<div id="main">
    <app-header></app-header>
    <div class="row">
        <div class="column left">
            <app-bets [totalAmount] = "totalAmount" (newTotalAmount)="newTotalAmount($event)"></app-bets>
        </div>
        <div class="column middle">
            <app-menu [allMarks] = "allMarks" [totalAmount] = "totalAmount" (newMark)="onClickMark($event)" (newTotalAmount)="clearTotal($event)"></app-menu>
        </div>
        <div class="column right">
            <app-output [allMarks] = "allMarks" [totalAmount] = "totalAmount"></app-output>
        </div>
    </div>   
</div>